package ${BasePackage}.v${Version}.${PackageName};

import java.util.List;

import javax.jws.WebMethod;
import javax.jws.WebParam;
import javax.jws.WebResult;
import javax.jws.WebService;
import javax.jws.soap.SOAPBinding;
import javax.jws.soap.SOAPBinding.ParameterStyle;
import javax.jws.soap.SOAPBinding.Style;
import javax.jws.soap.SOAPBinding.Use;
import javax.xml.ws.BindingType;
import javax.xml.bind.annotation.XmlSeeAlso;


@WebService(targetNamespace = "${Namespace}")
@SOAPBinding(parameterStyle = ParameterStyle.WRAPPED, style = Style.DOCUMENT, use = Use.LITERAL)
@BindingType(javax.xml.ws.soap.SOAPBinding.SOAP12HTTP_BINDING)
@XmlSeeAlso({#foreach( $method in $Methods ) ${method.returnType}.class #set($count = ${Methods.size()} - 1 )#if($foreach.index < $count), #end #end})
public interface ${ClassName} {
#foreach( $method in $Methods )
  @WebMethod(operationName = "${method.name}", action = "${method.name}")
  public @WebResult(name = "${method.returnType}") ${method.returnType} ${method.name} ( @WebParam(name = "${method.returnType}ID") Long ${method.returnType}ID);
#end

}