package ${PackageName};

import java.util.Date;

public class $ClassName {

	#foreach( $attribute in $Attributes )
	
	private $attribute.dataType $attribute.name;
	#end
	
	#foreach( $attribute in $Attributes )
	
	public void set$attribute.name ($attribute.dataType $attribute.name) {
		this.$attribute.name = $attribute.name;
	}
	
	public $attribute.dataType get$attribute.name (){
		return this.$attribute.name;
	}
    #end
	
}